# Node
node_modules/
.next/
out/
*.log

# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Env
.env.local
.env.*.local

# Docker
.DS_Store
docker-data/

# Coverage
coverage/
.coverage*

# IDE
.vscode/
.idea/
