/* Global CSS extracted from modules */

:root {
  --overlay: rgba(0,0,0,.25);
  --bg-dark: url('/parallax-dark.jpg');
  --bg-light: url('/parallax-light.jpg');
  --text: #eaeaea;
  --page: #0a0a0a;
}

html[data-theme='light'] {
  --overlay: rgba(255,255,255,.25);
  --text: #222;
  --page: #f6f6f6;
}
